
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
}

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-7 column">
                    <div class="cart-block">
                        <div class="icon-title dark">
                            <span><i class="ti-dropbox"></i></span>
                            <h2>My Shopping Cart</h2>
                            <i>Billing Information</i>
                        </div>
                        <form class="field-set ac-custom ac-checkbox ac-checkmark  ac-radio ac-circle">
                            <div class="field-row gray">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="field-col">
                                            <div class="checkbox-container"><input id="cb1" name="cb1" type="checkbox" /></div>
                                            <div class="check-info">
                                                <span>Buy From Credits</span>
                                            </div>
                                        </div><!-- Field Column -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="field-col">
                                            <div class="checkbox-container"><input id="cb2" name="cb2" type="checkbox" /></div>
                                            <div class="check-info">
                                                <span>Monthly Package</span>
                                            </div>
                                        </div><!-- Field Column -->
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="shopping-cart">
                            <ul>
                                <li>
                                    <span class="remove-item"><i class="fa fa-remove"></i></span>
                                    <div class="cart-product">
                                        <img src="http://placehold.it/170x133" alt="" />
                                        <div class="cart-product-detail">
                                            <h4><a href="single-page.html" title="">Portrait of a Young Woman Sitting </a></h4>
                                            <span class="img-id">image id: <i>257220880</i></span>
                                            <div class="selectbox">
                                                <i>Select Size:</i>
                                                <select class="select">
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div><!-- Cart Product -->
                                </li>
                                <li>
                                    <span class="remove-item"><i class="fa fa-remove"></i></span>
                                    <div class="cart-product">
                                        <img src="http://placehold.it/170x133" alt="" />
                                        <div class="cart-product-detail">
                                            <h4><a href="single-page.html" title="">Portrait of a Young Woman Sitting </a></h4>
                                            <span class="img-id">image id: <i>257220880</i></span>
                                            <div class="selectbox">
                                                <i>Select Size:</i>
                                                <select class="select">
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div><!-- Cart Product -->
                                </li>
                                <li>
                                    <span class="remove-item"><i class="fa fa-remove"></i></span>
                                    <div class="cart-product">
                                        <img src="http://placehold.it/170x133" alt="" />
                                        <div class="cart-product-detail">
                                            <h4><a href="single-page.html" title="">Portrait of a Young Woman Sitting </a></h4>
                                            <span class="img-id">image id: <i>257220880</i></span>
                                            <div class="selectbox">
                                                <i>Select Size:</i>
                                                <select class="select">
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                    <option>4745 × 3434 px – $5.00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div><!-- Cart Product -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 column">
                    <div class="order-confirmation">
                        <div class="icon-title dark">
                            <span><i class="ti-dropbox"></i></span>
                            <h2>Cart Summary</h2>
                            <i>Billing Information</i>
                        </div>
                        <span class="total">Total:</span>
                        <strong class="total-price">1 Downloads</strong>
                        <a class="theme-btn" data-letters="Proceed To Checkout" href="checkout.html" title="">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>