
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
}

<div class="class=" theme-layout"">
    <section>
        <div class="block no-padding">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="main-section">
                        <div class="image-slider">
                            <div class="tp-banner">
                                <ul>
                                    <li data-transition="slidedown  cube-vertical" data-masterspeed="500">
                                        <img src="http://placehold.it/1600x1000" alt="" data-duration="120" data-ease="Power0.easeInOut">
                                    </li><!-- SLIDE  -->
                                    <li data-transition="slideleft cube-horizontal" data-masterspeed="500">
                                        <img src="http://placehold.it/1600x1000" alt="" data-duration="120" data-ease="Power0.easeInOut ">
                                    </li><!-- SLIDE  -->
                                </ul>
                            </div>
                        </div><!-- Image Slider -->
                        <div class="welcome-overlay">
                            <div class="welcome-inner">
                                <div class="logo"><a href="#" title=""><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/logo.png" alt="" /></a></div><!-- Logo -->
                                <div class="main-tabber">
                                    <ul class="custom-tabs">
                                        <li class="active"><a href="#" data-name="all-search" title="">all Search</a></li>
                                        <li><a href="#" data-name="category" title=""><i class="fa fa-diamond"></i> Images by Category</a></li>
                                    </ul><!-- Main Tabber Buttons -->
                                    <div class="custom-content">
                                        <div data-id="all-search" class="tab-detail active">
                                            <div class="main-search fadeInUp">
                                                <form>
                                                    <input type="text" placeholder="Search Here Your Keywords">
                                                    <button><i class="fa fa-search"></i></button>
                                                </form>
                                            </div><!-- Main Search -->
                                        </div>
                                        <div data-id="category" class="tab-detail">
                                            <div class="images-category">
                                                <ul class="col-md-3">
                                                    <li><a href="images-list.html" title="">Abstract</a></li>
                                                    <li><a href="images-list.html" title="">Animals / Wildlife</a></li>
                                                    <li><a href="images-list.html" title="">The Arts</a></li>
                                                    <li><a href="images-list.html" title="">Backgrounds / Textures</a></li>
                                                    <li><a href="images-list.html" title="">Beauty / Fashion</a></li>
                                                </ul>
                                                <ul class="col-md-3">
                                                    <li><a href="images-list.html" title="">Buildings / Landmarks</a></li>
                                                    <li><a href="images-list.html" title="">Backgrounds / Textures</a></li>
                                                    <li><a href="images-list.html" title="">Beauty / Fashion</a></li>
                                                    <li><a href="images-list.html" title="">Animals / Wildlife</a></li>
                                                    <li><a href="images-list.html" title="">The Arts</a></li>
                                                </ul>
                                                <ul class="col-md-3">
                                                    <li><a href="images-list.html" title="">The Arts</a></li>
                                                    <li><a href="images-list.html" title="">Backgrounds / Textures</a></li>
                                                    <li><a href="images-list.html" title="">Beauty / Fashion</a></li>
                                                    <li><a href="images-list.html" title="">Animals / Wildlife</a></li>
                                                    <li><a href="images-list.html" title="">The Arts</a></li>
                                                </ul>
                                                <ul class="col-md-3">
                                                    <li><a href="images-list.html" title="">The Arts</a></li>
                                                    <li><a href="images-list.html" title="">Backgrounds / Textures</a></li>
                                                    <li><a href="images-list.html" title="">Beauty / Fashion</a></li>
                                                    <li><a href="images-list.html" title="">Animals / Wildlife</a></li>
                                                    <li><a href="images-list.html" title="">The Arts</a></li>
                                                </ul>
                                            </div><!-- Images Category -->
                                        </div>
                                    </div>
                                </div><!-- Main Tabber -->
                            </div>
                        </div><!-- Welcome Overlay -->
                        <div class="site-info-bar">
                            <div class="info-box">
                                <i class="fa fa-upload"></i>
                                <span>Total Images</span>
                                <strong>750,789,586</strong>
                            </div><!-- Info Box -->
                            <div class="info-box">
                                <i class="fa fa-user"></i>
                                <span>Our Users</span>
                                <strong>40,933</strong>
                            </div><!-- Info Box -->
                            <div class="info-box">
                                <i class="fa fa-phone"></i>
                                <span>Call Us</span>
                                <strong>203-934-944</strong>
                            </div><!-- Info Box -->
                        </div><!-- Site Info Bar -->
                    </div><!-- Main Section -->
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="title center">
                            <h2>Choose Your Best Package </h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                        </div>

                        <div class="best-packages">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="package">
                                        <i class="ti-stats-up"></i>
                                        <h4>Weekly Packages</h4>
                                        <p>Just starting out? Our Pay-As-You-Go plans offer images </p>
                                        <strong>$2.64<a href="single-page2.html" title="">Choose plan</a></strong>
                                    </div><!-- Package -->
                                </div>
                                <div class="col-md-3">
                                    <div class="package">
                                        <i class="ti-microsoft"></i>
                                        <h4>Weekly Packages</h4>
                                        <p>Just starting out? Our Pay-As-You-Go plans offer images </p>
                                        <strong>$2.64<a href="single-page2.html" title="">Choose plan</a></strong>
                                    </div><!-- Package -->
                                </div>
                                <div class="col-md-3">
                                    <div class="package">
                                        <i class="ti-comments-smiley"></i>
                                        <h4>Weekly Packages</h4>
                                        <p>Just starting out? Our Pay-As-You-Go plans offer images </p>
                                        <strong>$2.64<a href="single-page2.html" title="">Choose plan</a></strong>
                                    </div><!-- Package -->
                                </div>
                                <div class="col-md-3">
                                    <div class="package">
                                        <i class="ti-briefcase"></i>
                                        <h4>Weekly Packages</h4>
                                        <p>Just starting out? Our Pay-As-You-Go plans offer images </p>
                                        <strong>$2.64<a href="single-page2.html" title="">Choose plan</a></strong>
                                    </div><!-- Package -->
                                </div>
                            </div>
                            <div class="view-all">
                                <a data-letters="See Plans & Pricing" class="theme-btn package-btn" href="#" title="">See Plans & Pricing</a>
                            </div>
                        </div><!-- Best Packages -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="block remove-gap">
            <div class="row ">
                <div class="col-md-12 column">
                    <div class="title center">
                        <h2>Top Categories</h2>
                        <i>You can select from the key</i>
                    </div>

                    <div class="options">
                        <div class="option-combo">
                            <ul id="filter" class="option-set" data-option-key="filter">
                                <li><a href="#showall" data-option-value="*" class="selected">Show all</a></li>
                                <li><a href="#category1" data-option-value=".category1">Photos</a></li>
                                <li><a href="#category2" data-option-value=".category2">Vectors</a></li>
                                <li><a href="#category2" data-option-value=".category3">Editorial</a></li>
                                <li><a href="#category3" data-option-value=".category4">Illustrations</a></li>
                                <li><a href="#category4" data-option-value=".category5">Footage</a></li>
                            </ul>
                        </div>
                    </div><!-- FILTER BUTTONS -->

                    <div class="row narrow">
                        <div class="masonary">
                            <div class="col-md-3 category1">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category2">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category3">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category4">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category1">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category5">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category1">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category2">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category3">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category4">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category5">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 category1">
                                <div class="image-box">
                                    <a href="single-page.html" title=""><img src="http://placehold.it/384x282" alt="" /></a>
                                    <span class="image-name"># 231366088</span>
                                    <span class="image-license">License :    x - xxl</span>
                                    <div class="image-links">
                                        <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                        <a href="#" title=""><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="block remove-gap">
            <div class="container">
                <div class="row ">
                    <div class="col-md-8 column">
                        <div class="title">
                            <h2>Free Content Every Week.</h2>
                            <i>You can select from the key</i>
                            <p>Search for images anywhere using our award-winning iPad®, iPhone®, and Android® apps. Functional enough to use alone, beautiful enough to show off to clients. </p>
                        </div>
                        <div class="free-images">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="free-download">
                                        <img src="http://placehold.it/228x220" alt="" />
                                        <strong>Free Vector of the Week</strong>
                                        <span><a href="#" title="">Download</a></span>
                                    </div><!-- Free Download -->
                                </div>
                                <div class="col-md-4">
                                    <div class="free-download">
                                        <img src="http://placehold.it/228x220" alt="" />
                                        <strong>Free Vector of the Week</strong>
                                        <span><a href="#" title="">Download</a></span>
                                    </div><!-- Free Download -->
                                </div>
                                <div class="col-md-4">
                                    <div class="free-download">
                                        <img src="http://placehold.it/228x220" alt="" />
                                        <strong>Free Vector of the Week</strong>
                                        <span><a href="#" title="">Download</a></span>
                                    </div><!-- Free Download -->
                                </div>
                            </div>
                            <div class="view-all">
                                <a data-letters="View All" class="theme-btn small" href="#" title="">View All</a>
                            </div>
                        </div><!-- Free Images -->
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-box">
                            <div class="title">
                                <h2>Sign Up</h2>
                                <i>You can select from the key</i>
                            </div>
                            <form class="registration-form">
                                <div class="row">
                                    <div class="col-md-12"><div class="field"><i class="ti-user"></i><input type="text" placeholder="Name" /></div></div>
                                    <div class="col-md-12"><div class="field"><i class="ti-envelope"></i><input type="email" placeholder="Email Address" /></div></div>
                                    <div class="col-md-12"><div class="field"><i class="ti-key"></i><input type="password" placeholder="Password" /></div></div>
                                    <div class="col-md-12"><div class="field choice"><input type="checkbox" name="check" /><label>I agree to Shutterstock's Website Terms, Privacy Policy, Licensing Terms and to receive emails that I can opt out of at any time.</label></div></div>
                                    <div class="col-md-12"><div class="field field-button"><input type="submit" value="Create Account" /></div></div>
                                </div>
                            </form>
                        </div><!-- Sing Up Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>