
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
}

<div class="form-box">
    <div class="title" style="text-align: center; margin-bottom: 2.2em">
        <h2>Sign Up</h2>
    </div>
    <form class="registration-form" style="padding: 0 30% 0 30%;">
        <div class="row">
            <div class="col-md-12"><div class="field"><i class="ti-user"></i><input type="text" placeholder="Full Name" /></div></div>
            <div class="col-md-12"><div class="field"><i class="far fa-user-circle"></i><input type="text" placeholder="UserName" /></div></div>
            <div class="col-md-12"><div class="field"><i class="ti-envelope"></i><input type="email" placeholder="Email Address" /></div></div>
            <div class="col-md-12"><div class="field"><i class="ti-key"></i><input type="password" placeholder="Password" /></div></div>
            <div class="col-md-12"><div class="field choice"><input type="checkbox" name="check" /><label>I agree to Shutterstock's Website Terms, Privacy Policy, Licensing<br /> Terms and to receive emails that I can opt out of at any time.</label></div></div>
            <div class="col-md-12"><div class="field field-button"><input type="submit" value="Create Account" /></div></div>
        </div>
    </form>
</div><!-- Sing Up Form -->