<header>
    <div class="container">
        <div class="header-container">
            <nav>
                <ul>
                    <li><a href="~/" title="">Home</a></li>
                    <li>
                        <a href="~/Image" title="">Images</a>
                    </li>
                </ul>
            </nav><!-- Navigation -->
            <div class="header-links">
                <ul>
                    <li><a href="~/Home/Login" title="">Log in</a></li>
                    <li><a href="~/Home/SignUp" title="">Sign up</a></li>
                    <li><a href="~/Cart" title="">Cart (0)</a></li>
                </ul>
            </div><!-- Header Links -->
        </div>
    </div>
</header><!-- Header -->

<div class="responsive-header">
    <div class="responsive-bar">
        <span class="open-menu"><i data-target="menu" class="fa fa-align-center"></i></span>
        <div class="logo"><a href="~/" title=""><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/logo.png" alt="" /></a></div><!-- Logo -->
        <span class="open-links"><i data-target="links" class="fa fa-arrow-right"></i></span>
    </div>
    <div class="responsive-links menu">
        <ul>
            <li><a href="~/" title="">Home</a></li>
            <li class="">
                @*menu-item-has-children*@
                <a href="~/Image" title="">Images</a>
            </li>
            <li class="">
                @*menu-item-has-children*@
                <a href="~/Cart" title="">Cart</a>
            </li>
        </ul>
    </div>

    <div class="responsive-links other">
        <ul>
            <li><a href="~/Cart"><i class="fa fa-shopping-cart"></i>Cart (0)</a></li>
            <li><a href="~/Home/Login" title="">Log in</a></li>
            <li><a href="~/Home/SignUp" title="">Sign up</a></li>
        </ul>
    </div>
</div><!-- Responsive Header -->