<header>
    <div class="container">
        <div class="header-container">
            <nav>
                <ul>
                    <li><a href="index.html" title="">Home</a></li>
                    <li>
                        <a href="#" title="">Images</a>
                        <ul>
                            <li><a href="images-list.html" title="">Images List</a></li>
                            <li><a href="images-list-sidebar.html" title="">Images List With Sidebar</a></li>
                            <li><a href="single-page.html" title="">Single Image Page 1</a></li>
                            <li><a href="single-page2.html" title="">Single Image Page 2</a></li>
                            <li><a href="download-history.html" title="">Download History</a></li>
                            <li><a href="freedownloads.html" title="">Free Downloads</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="">Cart</a>
                        <ul>
                            <li><a href="cart.html" title="">Cart</a></li>
                            <li><a href="checkout.html" title="">Checkout</a></li>
                            <li><a href="wishlist.html" title="">Wishlist</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="">More Pages</a>
                        <ul>
                            <li>
                                <a href="#" title="">Blog</a>
                                <ul>
                                    <li><a href="blog.html" title="">Blog List</a></li>
                                    <li><a href="blog-single.html" title="">Blog Single</a></li>
                                    <li><a href="blog-single-sidebar.html" title="">Blog Single With Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="affiliations.html" title="">Affiliations</a></li>
                            <li><a href="account-detail.html" title="">Account Details</a></li>
                            <li><a href="price-package.html" title="">Price Package</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- Navigation -->
            <div class="header-links">
                <ul>
                    <li><a class="call-reg login-popup" href="#" title="">Log in</a></li>
                    <li><a class="call-reg signup-popup" href="#" title="">Sign up</a></li>
                    <li><a href="cart.html" title="">Cart (0)</a></li>
                    <li>
                        <div class="lang-selector">
                            <span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language1.png" alt="" /> English</span>
                            <ul>
                                <li><span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language1.png" alt="" /> English</span></li>
                                <li><span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language2.png" alt="" /> Español</span></li>
                                <li><span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language3.png" alt="" /> Français</span></li>
                                <li><span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language4.png" alt="" /> Norsk</span></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- Header Links -->
        </div>
    </div>
</header><!-- Header -->

<div class="responsive-header">
    <div class="responsive-bar">
        <span class="open-menu"><i data-target="menu" class="fa fa-align-center"></i></span>
        <div class="logo"><a href="#" title=""><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/logo.png" alt="" /></a></div><!-- Logo -->
        <span class="open-links"><i data-target="links" class="fa fa-arrow-right"></i></span>
    </div>
    <div class="responsive-links menu">
        <ul>
            <li><a href="index.html" title="">Home</a></li>
            <li class="menu-item-has-children">
                <a href="#" title="">Images</a>
                <ul>
                    <li><a href="images-list.html" title="">Images List</a></li>
                    <li><a href="images-list-sidebar.html" title="">Images List With Sidebar</a></li>
                    <li><a href="single-page.html" title="">Single Image Page 1</a></li>
                    <li><a href="single-page2.html" title="">Single Image Page 2</a></li>
                    <li><a href="download-history.html" title="">Download History</a></li>
                    <li><a href="freedownloads.html" title="">Free Downloads</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="#" title="">Cart</a>
                <ul>
                    <li><a href="cart.html" title="">Cart</a></li>
                    <li><a href="checkout.html" title="">Checkout</a></li>
                    <li><a href="wishlist.html" title="">Wishlist</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="#" title="">More Pages</a>
                <ul>
                    <li class="menu-item-has-children">
                        <a href="#" title="">Blog</a>
                        <ul>
                            <li><a href="blog.html" title="">Blog List</a></li>
                            <li><a href="blog-single.html" title="">Blog Single</a></li>
                            <li><a href="blog-single-sidebar.html" title="">Blog Single With Sidebar</a></li>
                        </ul>
                    </li>
                    <li><a href="affiliations.html" title="">Affiliations</a></li>
                    <li><a href="account-detail.html" title="">Account Details</a></li>
                    <li><a href="price-package.html" title="">Price Package</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="responsive-links other">
        <ul>
            <li><a href="#" title=""><i class="fa fa-shopping-cart"></i>Cart (0)</a></li>
            <li><a class="call-reg login-popup" href="#" title="">Log in</a></li>
            <li><a class="call-reg signup-popup" href="#" title="">Sign up</a></li>
            <li class="menu-item-has-children">
                <div class="lang-selector">
                    <span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language1.png" alt="" /> English</span>
                    <ul>
                        <li><span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language1.png" alt="" /> English</span></li>
                        <li><span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language2.png" alt="" /> Español</span></li>
                        <li><span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language3.png" alt="" /> Français</span></li>
                        <li><span><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/language4.png" alt="" /> Norsk</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div><!-- Responsive Header -->