
@{
    ViewBag.Title = "ImgList";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
}

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="page-top-search">
                        <div class="main-search fadeInUp">
                            <form>
                                <input type="text" placeholder="Search Here Your Keywords">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- Main Search -->
                    </div>
                    <!-- Page Top Search Bar -->
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="block remove-gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title center">
                        <h2>Beauty / Fashion</h2>
                    </div>
                    <div class="filter-bar">
                        <div class="grid-select">
                            <a class="three-col" href="#" title=""><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/three-column.png" alt="" /></a>
                            <a class="four-col" href="#" title=""><img src="~/Content/OnlineOrderForDigitalrintingOfPhotos/images/four-column.png" alt="" /></a>
                        </div>
                        <div class="filteration">
                            <ul>
                                <li class="active"><a href="#" title=""><i class="fa fa-bolt"></i> New</a></li>
                                <li><a href="#" title=""><i class="fa fa-gg"></i> Popular</a></li>
                                <li><a href="#" title=""><i class="fa fa-object-ungroup"></i> Related</a></li>
                                <li><a href="#" title=""><i class="fa fa-tripadvisor"></i> Top</a></li>
                            </ul>
                            <div class="pages">
                                <span>Page <i>1</i> of 40395</span>
                                <a href="#" title=""><i class="fa fa-angle-left"></i></a>
                                <a href="#" title=""><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="search-tools">
                            <span><i class="fa fa-cog"></i> Search Tools</span>
                            <ul>
                                <li>
                                    <a href="#" title="">File Type</a>
                                    <div class="dropbox">
                                        <ul>
                                            <li><a href="#" title="">Photo</a></li>
                                            <li><a href="#" title="">Illustration</a></li>
                                            <li><a href="#" title="">Vector</a></li>
                                            <li><a href="#" title="">Video</a></li>
                                            <li><a href="#" title="">Icons</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="">Orientation</a>
                                    <div class="dropbox">
                                        <ul>
                                            <li><a href="#" title="">People Collection </a></li>
                                            <li><a href="#" title="">Creative Collection</a></li>
                                            <li><a href="#" title=""> Vintage Collection</a></li>
                                            <li><a href="#" title="">Backgrounds / Textures</a></li>
                                            <li><a href="#" title=""> Beauty / Fashion</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="">Size</a>
                                    <div class="dropbox">
                                        <ul>
                                            <li><a href="#" title="">People Collection </a></li>
                                            <li><a href="#" title="">Creative Collection</a></li>
                                            <li><a href="#" title=""> Vintage Collection</a></li>
                                            <li><a href="#" title="">Backgrounds / Textures</a></li>
                                            <li><a href="#" title=""> Beauty / Fashion</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="">Collection</a>
                                    <div class="dropbox">
                                        <div class="search-sizes">
                                            <strong>Search With Sizes</strong>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="size active">
                                                        <strong>3XL</strong>
                                                        <span>5616 × 3744 px</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="size">
                                                        <strong>3XL</strong>
                                                        <span>5616 × 3744 px</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="size">
                                                        <strong>3XL</strong>
                                                        <span>5616 × 3744 px</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="size">
                                                        <strong>3XL</strong>
                                                        <span>5616 × 3744 px</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="size">
                                                        <strong>3XL</strong>
                                                        <span>5616 × 3744 px</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="size">
                                                        <strong>3XL</strong>
                                                        <span>5616 × 3744 px</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="">Price</a>
                                    <div class="dropbox">
                                        <div class="range-select">
                                            <strong>Max XS Credits</strong>
                                            <input type="range" min="0" max="15" step="1" value="4" data-rangeslider>
                                            <span><output></output> Credits</span>
                                        </div>
                                        <!-- Range Select -->
                                        <div class="apply-credit">
                                            <strong>Max Extended Credits</strong>
                                            <form>
                                                <input type="text" placeholder="" />
                                                <button>Apply</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Dropbox -->
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="images-list">
                        <div class="row scroll" data-ui="jscroll-default">
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                                <!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                                <!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                                <!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                                <!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                                <!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                                <!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div>
                                <!-- Image -->
                            </div>
                            <div class="next"><a href="images-list2.php"><i class="ti-reload"></i><span>1 to 399</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="block remove-gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="images-category style2 light">
                        <div class="icon-title dark">
                            <span><i class="ti-dropbox"></i></span>
                            <h2>View Images by Category</h2>
                            <i>See 434 other creative contents with the same model</i>
                        </div>
                        <ul class="col-md-3">
                            <li><a href="#" title="">Abstract</a></li>
                            <li><a href="#" title="">Animals / Wildlife</a></li>
                            <li><a href="#" title="">The Arts</a></li>
                            <li><a href="#" title="">Backgrounds / Textures</a></li>
                            <li><a href="#" title="">Abstract</a></li>
                            <li><a href="#" title="">Animals / Wildlife</a></li>
                            <li><a href="#" title="">Beauty / Fashion</a></li>
                        </ul>
                        <ul class="col-md-3">
                            <li><a href="#" title="">Buildings / Landmarks</a></li>
                            <li><a href="#" title="">Beauty / Fashion</a></li>
                            <li><a href="#" title="">Animals / Wildlife</a></li>
                            <li><a href="#" title="">Backgrounds / Textures</a></li>
                            <li><a href="#" title="">Beauty / Fashion</a></li>
                            <li><a href="#" title="">Animals / Wildlife</a></li>
                            <li><a href="#" title="">The Arts</a></li>
                        </ul>
                        <ul class="col-md-3">
                            <li><a href="#" title="">The Arts</a></li>
                            <li><a href="#" title="">Backgrounds / Textures</a></li>
                            <li><a href="#" title="">Beauty / Fashion</a></li>
                            <li><a href="#" title="">Animals / Wildlife</a></li>
                            <li><a href="#" title="">The Arts</a></li>
                            <li><a href="#" title="">Beauty / Fashion</a></li>
                            <li><a href="#" title="">Animals / Wildlife</a></li>
                        </ul>
                        <ul class="col-md-3">
                            <li><a href="#" title="">The Arts</a></li>
                            <li><a href="#" title="">Backgrounds / Textures</a></li>
                            <li><a href="#" title="">Beauty / Fashion</a></li>
                            <li><a href="#" title="">Animals / Wildlife</a></li>
                            <li><a href="#" title="">The Arts</a></li>
                            <li><a href="#" title="">Backgrounds / Textures</a></li>
                            <li><a href="#" title="">Beauty / Fashion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
