
@{
    ViewBag.Title = "DetailImgaaa";
    Layout = "~/Views/Shared/UserLayout/_Layout.cshtml";
}

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="detail-page">
                        <div class="single-img"><img src="http://placehold.it/570x619" alt="" /></div>
                        <div class="single-img-detail">
                            <h2>Stock Photo:</h2>
                            <span>Portrait of a Young Woman Sitting at Home With Pen and Paper.</span>
                            <span class="img-id">image id: <i>257220880</i></span>
                            <p>Search for images anywhere using our award-winning iPad®, iPhone®, and Android® apps. Functional enough to use alone, beautiful enough to show off to clients.</p>

                            <h6 class="sub-title">Select a License & Format</h6>
                            <div class="license">
                                <form class="field-set ac-custom ac-checkbox ac-checkmark  ac-radio ac-circle">
                                    <div class="field-row gray">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="checkbox-container"><input id="r1" name="r1" type="radio" /></div>
                                                <div class="radio-info">
                                                    <span>Standard License    <strong>(included)</strong></span>
                                                    <p>Large print or outdoor advertising with circulation/viewership over 5,00,000 Usage in merchandise, clothing and artwork Usage as decoration in an office or public space</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field-row">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="field-col">
                                                    <div class="checkbox-container"><input id="cb1" name="cb1" type="checkbox" /></div>
                                                    <div class="check-info">
                                                        <strong>4745 × 3434 px – $5.00</strong>
                                                        <span>15.8 × 11.4" @@ 300.0 dpi</span>
                                                    </div>
                                                </div><!-- Field Column -->
                                            </div>
                                            <div class="col-md-6">
                                                <div class="field-col">
                                                    <div class="checkbox-container"><input id="cb2" name="cb2" type="checkbox" /></div>
                                                    <div class="check-info">
                                                        <strong>4745 × 3434 px – $5.00</strong>
                                                        <span>15.8 × 11.4" @@ 300.0 dpi</span>
                                                    </div>
                                                </div><!-- Field Column -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field-row">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="field-col">
                                                    <div class="checkbox-container"><input id="cb3" name="cb3" type="checkbox" /></div>
                                                    <div class="check-info">
                                                        <strong>4745 × 3434 px – $5.00</strong>
                                                        <span>15.8 × 11.4" @@ 300.0 dpi</span>
                                                    </div>
                                                </div><!-- Field Column -->
                                            </div>
                                            <div class="col-md-6">
                                                <div class="field-col">
                                                    <div class="checkbox-container"><input id="cb4" name="cb4" type="checkbox" /></div>
                                                    <div class="check-info">
                                                        <strong>4745 × 3434 px – $5.00</strong>
                                                        <span>15.8 × 11.4" @@ 300.0 dpi</span>
                                                    </div>
                                                </div><!-- Field Column -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <a data-letters="Download now" class="theme-btn" href="#" title="">Download now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="block remove-gap">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 column">
                    <div class="icon-title dark">
                        <span><i class="ti-dropbox"></i></span>
                        <h2>Similar Images</h2>
                        <i>You can select from the key</i>
                    </div>

                    <div class="images-list loadmore-disable">
                        <a data-letters="View All" class="theme-btn small" href="images-list.html" title="">View All</a>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div><!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div><!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div><!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div><!-- Image -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="block remove-gap">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 column">
                    <div class="icon-title dark">
                        <span><i class="ti-dropbox"></i></span>
                        <h2>Same Model</h2>
                        <i>See 434 other creative contents with the same model</i>
                    </div>

                    <div class="images-list loadmore-disable">
                        <a data-letters="View All" class="theme-btn small" href="images-list.html" title="">View All</a>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div><!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div><!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div><!-- Image -->
                            </div>
                            <div class="col-md-3">
                                <div class="image-download">
                                    <img src="http://placehold.it/278x256" alt="" />
                                    <div class="image-bar">
                                        <div class="cat"><a href="#" title="">Music Fun</a></div>
                                        <span>12 Credits</span>
                                    </div>
                                    <div class="image-bar bottom">
                                        <div class="image-links">
                                            <a href="#" title=""><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#" title=""><i class="fa fa-heart"></i></a>
                                        </div>
                                        <span>License : x - xxl</span>
                                    </div>
                                </div><!-- Image -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>